
.fot{
    .icordion{
        display: flex;
        justify-content: space-between;
        .icordion-item{
            width: 50%;
            button{
                width: 100%;
            }
            p{
                display: none;
            }
        }
    }
}